<!doctype>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Henrik Kjelsbergs résumé</title>
    <meta name="viewport" content="width=device-width" />
    <link href="https://raw.github.com/dhgamache/Skeleton/master/stylesheets/base.css" rel="stylesheet" />
    <link href="https://raw.github.com/dhgamache/Skeleton/master/stylesheets/skeleton.css" rel="stylesheet" />
    <link href="./style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <article class="sixteen columns">

      <!-- Readme.md -->

